* {
  color: black;
}

body {
  background-color: #b4b8bb;
  font-family: "Helvectica";
}

.titleRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: bottom;
}

#wallet {
  margin-bottom: 10px;
  flex-grow: 1;
  justify-content: right;
  margin-right: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: white;
}

.cb {
  max-height: 95vh;
  overflow: scroll;
  display: relative;
}

.card {
  max-width: 600px;
  margin: auto;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  overflow: hidden;

  transition: 0.3s;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.card h3 {
  padding: 30px 40px 10px 40px;
  font-size: 1.5rem;
  font-weight: 200;
}

.card .body {
  padding: 20px 40px;
  background-color: #f9f9ff;
}

.card input,
.card select {
  padding: 8px 10px;
  min-width: 450px;

  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #eee;
}

body {
  font-size: 18px;
  font-family: Avenir, Helvetica, sans-serif;
}

body h6 {
  font-weight: lighter;
  margin: 5px;
}

.card label {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 300;
  color: gray;
}

.hidden {
  opacity: 0;
  transform: translateY(-4px) scale(0.99);
  /* // no pointer events */
  pointer-events: none;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card input {
  background-color: white;
}

.dropdown-body {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 400px;
  transform: translateY(2px);

  transition: 0.1s;
  transform-origin: 0px;

  z-index: 100;

  /* Shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-y: scroll;

  max-height: 300px;
}

.row {
  padding: 4px 20px;
  display: flex;
  cursor: pointer;

  font-size: 16px;

  transition: 0.1s;
}

.dropdown-body .row:hover {
  background-color: #f9f9ff;
}

.dropdown-button {
  text-align: left;
  border: 1px solid lightgray;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.relative {
  position: relative;
}

.row .images img {
  height: 30px;
  border-radius: 99999px;
  border: 3px solid white;
}

.row .images {
  transform: translateY(2px);
}

.row .images img:not(:first-child) {
  transform: translateX(-14px);
}

.farm-input {
  z-index: 0;
  display: flex;
  position: relative;
  margin-top: 10px;
}

.farm-input img {
  height: 30px;
  border-radius: 99999px;
  transform: translateY(26px);
}

.card footer {
  padding: 10px;
}

.statbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 16px;
}

.statbox p {
  margin: 10px;
}

.statbox:last-child {
  background-color: #eeffee;
  border-radius: 10px;
  font-weight: 500;
}

.input {
  width: 100%;
  margin-top: 14px;
}

input:disabled {
  background-color: #eee;
  color: gray;
}

.input input {
  width: 490px;
}

.tooltip-div {
  position: absolute;
  background-color: white;
  padding: 5px 20px;
  transform: translate(15px, -20px);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 100px;
}

.question-mark {
  display: inline-block;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  color: gray;
}

.refresh-button {
  background: #edeeff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
  transform: translateY(-2px);
  cursor: pointer;
  float: right;
}
