* {
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;

  font-family: arial;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;

  transition: 0.3s;
}

.card input,
.card select {
  padding: 8px 10px;
  min-width: 500px;

  border: 2px solid gray;
  border-radius: 2px;
  background-color: #eee;
}

.card select {
}

.card label {
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 500;
}

.card {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.hidden {
  opacity: 0;
  transform: translateY(10px) scale(0.98);
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0;
}
